<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>OpportunityHack.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7BB38BCB1D964890001A4494</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7BB38BDF1D964891001A4494</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7BB38BEA1D964891001A4494</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
